body {
  text-align: center;
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
}

button {
  width: 100%;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 6px 0;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.answers {
  width: 100%;
}

p {
  display: block;
  font-size: 1.5em;
  order: 2;
  flex-basis: 25%;
  padding: 0;
}

#prev {
  order: 1;
}

#next {
  order: 3;
}

.navigate {
  flex-basis: 40%;
}

#next-score {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

img {
  max-height: 400px;
  width: auto;
}

#theme-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px !important;
  height: 50px !important;
  margin: 10px;
  padding: 0;
  border-radius: 50%;
}

#theme-svg {
  width: 50%;
  height: 50%;
}

/* COLOR */

.disabled {
  background-color: #c0c0c0;
}

.answers {
  background-color: #bb80fc;
}

.answers:hover {
  background-color: #3700b3;
}

.correct {
  background-color: #03dac6;
}

.incorrect {
  background-color: #cf6679;
}

.navigate:hover {
  background-color: #3700b3;
}

button {
  background-color: #4d4d4d;
  color: white;
}

